::ng-deep .ant-form-item-children-icon {
    margin-top: -13.5px !important;
}

.social-area a {
    width: 36px;
    height: 36px;
    margin: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}