<div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">

    <!-- Page header -->
    <div class="mb-8">

        <!-- Title -->
        <h1 class="text-2xl md:text-3xl text-slate-300 font-bold">Account Settings ✨</h1>

    </div>

    <div class="bg-la-forge-secondary py-4 px-2 shadow-lg rounded-sm mb-8">
        <!-- <nz-tabset nzTabPosition="left">
            <nz-tab nzTitle="Mon Compte">
                <la-forge-account-settings></la-forge-account-settings>
            </nz-tab>
            <nz-tab nzTitle="Mon Compte">
                <la-forge-account-settings></la-forge-account-settings>
            </nz-tab>
            <nz-tab nzTitle="Mon Compte">
                <la-forge-account-settings></la-forge-account-settings>
            </nz-tab>
        </nz-tabset> -->
    </div>

</div>