<div class="grow">

    <!-- Panel body -->
    <div class="px-4 py-1">
        <h2 class="text-2xl text-slate-200 font-bold mb-5">My Account</h2>

        <!-- Picture -->
        <section class="pb-4">
            <div class="flex items-center">
                <div class="mr-4">
                    <div style="height:6rem; width:6rem;" class="md rounded-md relative avatar border-2 border-la-forge-primary">
                        <img class="rounded-md " src="https://pbs.twimg.com/profile_images/1254779846615420930/7I4kP65u_400x400.jpg" alt="">
                    </div>
                </div>
                <button class="mr-2 text-la-forge-primary border-la-forge-primary hover:text-slate-300" nz-button>Change</button>
            </div>
        </section>

        <!-- Email -->
        <section class="pb-4">
            <h3 class="text-xl leading-snug text-slate-200 font-bold mb-1">Email</h3>
            <div class="flex flex-wrap mt-3 items-center">
                <div class="mr-2">
                    <input class="p-1 text-slate-800 mr-1" nz-input name="email" type="email" value="test@gmail.fr" id="email">
                </div>
                <button class="mr-2 text-la-forge-primary border-la-forge-primary hover:text-slate-300" nz-button>Change</button>
            </div>
        </section>

        <!-- Password -->
        <section class="pb-4">
            <h3 class="text-xl leading-snug text-slate-200 font-bold mb-1">Password</h3>
            <div class="flex flex-wrap mt-3 items-center">
                <div class="mr-2">
                    <input class="p-1 text-slate-800 mr-1" nz-input placeholder="Old password" name="password" type="password" id="password">
                </div>
                <button class="mr-2 text-la-forge-primary border-la-forge-primary hover:text-slate-300" nz-button>Change</button>
            </div>
        </section>

        <footer class="pt-4">
            <div class="flex flex-col pt-5  border-t border-slate-200">
                <div class="flex self-end">
                    <!-- <button class="btn border-slate-200 hover:border-slate-300 text-slate-800 mr-1">Cancel</button>
                    <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white ml-3">Save Changes</button> -->
                    <button class="mr-2 border-slate-300 hover:text-la-forge-primary" nz-button>Cancel</button>
                    <button nz-button nzType="primary">Save Changes</button>
                </div>
            </div>
        </footer>

    </div>

    <!-- Panel footer -->

</div>